<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <title>About This Website</title>
    </head>

    <body>
        <div id = "navbar">
            <header>
                <nav class = 'navib'>
                    <div>
                        <a class="nav" href = "./">Home</a>
                        <a class="nav" href = "./location">Find Places</a>
                        <a class="nav" href = "./about">About</a>
                        <a class="nav" href = "./contact">Contact Us</a>
                    </div>
                </nav>
            </header>
        </div>
        <div>
            <h1>About this Website</h1>
        </div>
        <div>
           <p> Waypoint helps you find nearby placed using your location or with a given city name. You can choose from a variety of categories to filter your search and choose the number of results you would like to see. 
            Additionally you can see the weather forecast for each of the places you find. Please visit the contact us to learn more info about the website developers.
           </p>

           <p>Waypoint was summer project done by two college students who are studying in computer-related majors. It was created to help hese two students gain more experience in working with code, APIs, and web development. To learn more about the creators visit the contact us page <a href="./contact">(link here)</a> </p>

           <p> This website was made posssible through the use of APIs. To gather data about places near a certain location we used the HERE Maps API. This API enables us to help search for places using location information such as a city name or latitude and longitude coordinates. We were also able to filter through places using specific categories and that were provided by HERE maps.
            This Website allows the user use their current location to searches for places nearby. This was done with the help of the Abstract API. The Abstract API tracks the IP location of the user when they search for places nearby and provides us with latitude and longitude coordinates of the user's location to input into the HERE maps API.  Additionally for each place provided when a user performs a search
            the current weather information is displayed. This was done with the use of the OpenWeatherMap API. They were able to give weather information such as the temperature and weather conditions based on latiude and logitude coordinates.
           </p>

           <h3>Links to API's Used</h3>
           <p>HERE Maps API:<a href="https://developer.here.com/">Click Here</a></p>
           <p>OpenWeatherMap API:<a href="https://openweathermap.org/api">Click Here</a></p>
           <p>Abstract API:<a href="https://www.abstractapi.com/">Click Here</a></p>

        </div>   

    </body>

    <footer>

    </footer>
</html>