<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <title>WAYPOINT</title>

    </head>

    <body>
        <div id = "navbar">
            <header>
                <nav class = 'navib'>
                    <div>
                        <a class="nav" href = "./">Home</a>
                        <a class="nav" href = "./location">Find Places</a>
                        <a class="nav" href = "./about">About</a>
                        <a class="nav" href = "./contact">Contact Us</a>
                    </div>
                </nav>
            </header>
        </div>
        <div>
            <h2>Looks Like Something Went Wrong :(</h2>
            <p>Make sure you have entered in all your inputs correctly. Make sure to enter city name in the following format: Boston,MA. Our website can't handle alien city names.</p>
        </div>
        <div> 
            <br>
            <button onclick="location.href='./location'">Go Back</button> 
        </div>   

    </body>

    <footer>

    </footer>
</html>