<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <title>WAYPOINT</title>

    </head>

    <body>
        <div id = "navbar">
        <header>
            <nav class = 'navib'>
                <div>
                    <a class="nav" href = "./">Home</a>
                    <a class="nav" href = "./location">Find Places</a>
                    <a class="nav" href = "./about">About</a>
                    <a class="nav" href = "./contact">Contact Us</a>
                </div>
            </nav>
        </header>
        </div>
        
        <div>
            <h1 id="waypoint">WAYPOINT</h1>
        </div>
        
        <div>
            <label id="start_text">Get Started on your Search</label>
            <button id="start_button" onclick="location.href='./location'">Click Here</button>
        </div>
            <p id ="home1" class="home_features_text">Waypoint is a website that helps you find <br>places near a specific location. <br>Learn about its features below</p> 
                   
        <div>
            <p id="home2" class = 'home_features_text'>You can enter a location or even <br>use your current location</p>
        </div>
        <div>
            <p id="home3" class = 'home_features_text'>Choose through a variety of filters and <br>categories to refine your search.</p>
        </div>
        <div>
            <p id="home4" class = 'home_features_text'>Learn important information about each location <br>including distance and weather</p>
        </div>

    </body>

    <footer>

    </footer>
</html>